section
  h2#about-me About Myself
  hr.bar

  div.about-lock
    .flip-container(ontouchstart="this.classList.toggle('hover');")
     .flipper
       .front
          div.face-img
       .back
          div.face1-img

    div(class="glyph-icon flaticon-cogwheel28")
    div(class="glyph-icon flaticon-computer1")
    div(class="glyph-icon flaticon-hosting")
    div(class="glyph-icon flaticon-computers13")

  div.blurb
    p Hehehe, I am super Cody.

  div.skill-lock
